@require 'settings/palette.styl'
palette=json('../../theme/palette.json', { hash: true })

$translucentWhite1=rgba(255, 255, 255, 0.24)
$translucentWhite2=rgba(255, 255, 255, 0.88)
$translucentWhite3=rgba(255, 255, 255, 0.16)

:root
    --invertedBackgroundColor: var(--primaryMain)
    --invertedContrastTextColor: var(--primaryContrastText)

.CozyTheme--inverted
    --textPrimary: var(--invertedContrastTextColor)
    --textSecondary: var(--invertedContrastTextColor)
    --iconColor: var(--textSecondary)
    --textIconColor: var(--invertedContrastTextColor)
    --barIconColor var(--invertedContrastTextColor)
    --barIconColorDisabled $translucentWhite2

    --spinnerColor var(--invertedContrastTextColor)
    --linkColor var(--invertedContrastTextColor)
    --linkColorActive var(--invertedContrastTextColor)
    --linkTextDecoration underline

    --regularButtonPrimaryColor: var(--invertedContrastTextColor)
    --regularButtonSecondaryColor: var(--invertedContrastTextColor)
    --regularButtonActiveColor: $translucentWhite2
    --regularButtonConstrastColor: var(--invertedBackgroundColor)

    --secondaryButtonPrimaryColor: var(--invertedBackgroundColor)
    --secondaryButtonSecondaryColor: var(--invertedContrastTextColor)
    --secondaryButtonActiveColor: $translucentWhite1
    --secondaryButtonContrastColor: var(--invertedContrastTextColor)

    --errorMain: palette.Error['200']
    --successMain: palette.Success['200']
    --warningMain: palette.Warning['200']

    --backgroundPaper: var(--primaryMain)
    --backgroundDefault: var(--primaryDark)
    --divider: $translucentWhite3
    --dividerColor2: $translucentWhite3
    --errorBackground: darken(palette.Error['200'], 70%)

