@require '../tools/mixins'
palette=json('../../theme/palette.json', { hash: true })

// @stylint off
/*------------------------------------*\
  Palette
  =====
\*------------------------------------*/
/*
    Settings

    Weight: -10

    Styleguide Settings
*/

/*
    Colors

    Colors used in the user interface.

    ℹ️  In general, you are advised to use [theme colors](#kssref-settings-theme) when
    building your components: this will ensure your components react correctly when
    changing the theme.

    If you need to access an absolute color that is not semantic, you can use

    ```
    import palette from 'cozy-ui/transpiled/react/palette'
    <div style={{ backgroundColor: palette.melon }} />
    ```

    Styleguide Settings.colors
*/
html
    /*
    Grey

    Stylus: white        -  #FFFFFF, CSS: var(--white)
    Stylus: paleGrey     -  #F5F6F7, CSS: var(--paleGrey)
    Stylus: silver       -  #D6D8Da, CSS: var(--silver)
    Stylus: coolGrey     -  #95999D, CSS: var(--coolGrey)
    Stylus: slateGrey    -  #5D6165, CSS: var(--slateGrey)
    Stylus: charcoalGrey -  #32363F, CSS: var(--charcoalGrey)
    Stylus: black        -  #000000, CSS: var(--black)


    Styleguide Settings.colors.grey
    */
    --white         #FFFFFF
    --paleGrey      #F5F6F7
    --silver        #D6D8Da
    --coolGrey      #95999D
    --slateGrey     #5D6165
    --charcoalGrey  #32363F
    --black         #000000
    --overlay       rgba(50, 54, 63, .5)

    /*
    Blue

    Stylus: zircon       -  #F5FAFF, CSS: var(--zircon)
    Stylus: dodgerBlue   -  #297EF2, CSS: var(--dodgerBlue)
    Stylus: scienceBlue  -  #0B61D6, CSS: var(--scienceBlue)

    Styleguide Settings.colors.blue
    */
    --zircon       #F5FAFF
    --dodgerBlue   #297EF2
    --scienceBlue  #0B61D6

    /*
    Green

    Stylus: weirdGreen   - #40DE8E, CSS: var(--weirdGreen)
    Stylus: emerald      - #35CE68, CSS: var(--emerald)
    Stylus: malachite    - #08b442, CSS: var(--malachite)

    Styleguide Settings.colors.green
    */
    --weirdGreen   #40DE8E
    --emerald      #35CE68
    --malachite    #08b442

    /*
    Orange

    Stylus: mango         - #FF962F, CSS: var(--mango)

    Styleguide Settings.colors.orange
    */
    --mango          #FF962F

    /*
    Red

    Stylus: chablis      - #FFF2F2, CSS: var(--chablis)
    Stylus: yourPink     - #FDCBCB, CSS: var(--yourPink)
    Stylus: fuchsia      - #FC4C83, CSS: var(--fuchsia)
    Stylus: pomegranate  - #F52D2D, CSS: var(--pomegranate)
    Stylus: monza        - #DD0505, CSS: var(--monza)

    Styleguide Settings.colors.red
    */
    --chablis      #FFF2F2
    --yourPink     #FDCBCB
    --fuchsia      #FC4C83
    --pomegranate  #F52D2D
    --monza        #DD0505

/*
    Theme

    Semantic colors suitable for theming. We encourage users of cozy-ui to use semantic colors
    instead of absolute colors to facilitate theming.

    We try to use a naming schema that is close to what is use in [Material-UI React's theming](https://material-ui.com/customization/palette/#palette-colors).
    It is possible that we have some discrepancies. If you see something that seems out
    of the ordinary and where you think we could reduce the difference with MUI, please
    do not hesitate to [open an issue](https://github.com/cozy/cozy-ui/issues/new).

    Styleguide Settings.theme
*/
html, .CozyTheme--normal
    /*
    Common

    Stylus: commonWhite  -  #FFFFFF, CSS: var(--commonWhite)
    Stylus: commonBlack  -  #000000, CSS: var(--commonBlack)


    Styleguide Settings.colors.common
    */
    --commonWhite         #FFFFFF
    --commonBlack         #000000

    /*
    Primary colors

    Stylus: primaryMain         - #297EF2, CSS: var(--primaryMain)
    Stylus: primaryDark         - #0B61D6, CSS: var(--primaryDark)
    Stylus: primaryLight        - #5C9DF5, CSS: var(--primaryLight)
    Stylus: primaryLightest     - #91BFFF, CSS: var(--primaryLightest)
    Stylus: primaryContrastText - #FFF, CSS: var(--primaryContrastText)

    Styleguide Settings.theme.primary
    */
    --primaryMain palette.Primary['600']
    --primaryDark palette.Primary['700']
    --primaryLight palette.Primary['500']
    --primaryLightest palette.Primary['400']
    --primaryContrastText var(--commonWhite)

    /*
    Secondary colors

    Stylus: secondaryMain         - #EA3F3F, CSS: var(--secondaryMain)
    Stylus: secondaryDark         - #D31F1F, CSS: var(--secondaryDark)
    Stylus: secondaryLight        - #F96B6B, CSS: var(--secondaryLight)
    Stylus: secondaryLightest     - #FF9B9B, CSS: var(--secondaryLightest)
    Stylus: secondaryContrastText - #FFF, CSS: var(--secondaryContrastText)

    Styleguide Settings.theme.secondary
    */
    --secondaryMain palette.Error['600']
    --secondaryDark palette.Error['700']
    --secondaryLight palette.Error['500']
    --secondaryLightest palette.Error['400']
    --secondaryContrastText var(--commonWhite)

    /*
    Background colors

    Stylus: backgroundPaper        -  #FFF, CSS: var(--backgroundPaper)
    Stylus: backgroundDefault      -  #F4F5F6, CSS: var(--backgroundDefault)
    Stylus: backgroundPrimaryLight -  #F7FAFF, CSS: var(--backgroundPrimaryLight)

    Styleguide Settings.theme.background
    */
    --backgroundPaper var(--commonWhite)
    --backgroundDefault palette.Grey['100']
    --backgroundPrimaryLight palette.Primary['50']

    /*
    Text colors

    These colors use the alpha layer. Be careful to use the semantic variable.
    Hexadecimal colors are here only as an example on a white background.

    Stylus: textPrimary   - #383B43, CSS: var(--textPrimary)
    Stylus: textSecondary - #9D9EA1, CSS: var(--textSecondary)
    Stylus: textDisabled - #BEBFC1, CSS: var(--textDisabled)
    Stylus: textHint - #BEBFC1, CSS: var(--textHint)
    Stylus: textIcon - #66686D, CSS: var(--textIcon)

    Styleguide Settings.theme.text
    */
    --textPrimary alpha(palette.Grey['900'], 0.9)
    --textSecondary alpha(palette.Grey['900'], 0.48)
    --textDisabled alpha(palette.Grey['900'], 0.32)
    --textHint alpha(palette.Grey['900'], 0.32)
    --textIcon alpha(palette.Grey['900'], 0.72)

    /*
    Action colors

    These colors use the alpha layer. Be careful to use the semantic variable.
    Hexadecimal colors are here only as an example on a white background.

    Stylus: actionActive   - #8A8C90, CSS: var(--actionActive)
    Stylus: actionHover   - #F7F7F7, CSS: var(--actionHover)
    Stylus: actionSelected   - #EFEFF0, CSS: var(--actionSelected)
    Stylus: actionDisabled   - #CFCFD1, CSS: var(--actionDisabled)
    Stylus: actionDisabledBackground   - #E7E7E8, CSS: var(--actionDisabledBackground)
    Stylus: actionFocus   - #E7E7E8, CSS: var(--actionFocus)
    Stylus: actionGhost   - #EFEFF0, CSS: var(--actionGhost)
    Stylus: actionHoverGhost   - #DFE0E0, CSS: var(--actionHoverGhost)

    Styleguide Settings.theme.action
    */
    --actionActive alpha(palette.Grey['900'], 0.56)
    --actionHover alpha(palette.Grey['900'], 0.04)
    --actionSelected alpha(palette.Grey['900'], 0.08)
    --actionDisabled alpha(palette.Grey['900'], 0.24)
    --actionDisabledBackground alpha(palette.Grey['900'], 0.12)
    --actionFocus alpha(palette.Grey['900'], 0.12)
    --actionGhost alpha(palette.Grey['900'], 0.08)
    --actionHoverGhost alpha(palette.Grey['900'], 0.16)

    /*
    Components colors

    Be careful to use the semantic variable, not the hexa color.
    In this case the real color is `#1D212A1F`, and becomes `#E3E4E5` on a white background.

    Stylus: divider - #E3E4E5, CSS: var(--divider)

    Styleguide Settings.theme.components
    */
    --divider alpha(palette.Grey['900'], 0.12)

    /*
    Border colors

    These colors use the alpha layer. Be careful to use the semantic variable.
    Hexadecimal colors are here only as an example on a white background.

    Stylus: borderMain - #DFE0E0, CSS: var(--borderMain)
    Stylus: borderDisabled - #EFEFF0, CSS: var(--borderDisabled)
    Stylus: borderGhost - #9D9EA1, CSS: var(--borderGhost)
    Stylus: borderGhostDisabled - #DFE0E0, CSS: var(--borderGhostDisabled)

    Styleguide Settings.theme.border
    */
    --borderMain alpha(palette.Grey['900'], 0.16)
    --borderDisabled alpha(palette.Grey['900'], 0.08)
    --borderGhost alpha(palette.Grey['900'], 0.48)
    --borderGhostDisabled alpha(palette.Grey['900'], 0.16)

    /*
    Success colors

    Stylus: successLight        -  #38C949, CSS: var(--successLight)
    Stylus: successMain         -  #09AE1C, CSS: var(--successMain)
    Stylus: successDark         -  #018711, CSS: var(--successDark)
    Stylus: successContrastText -  #FFF, CSS: var(--successContrastText)

    Styleguide Settings.theme.success
    */
    --successLight palette.Success['500']
    --successMain palette.Success['600']
    --successDark palette.Success['700']
    --successContrastText var(--commonWhite)

    /*
    Error colors

    Stylus: errorLightest     -  #FF9B9B, CSS: var(--errorLightest)
    Stylus: errorLight        -  #F96B6B, CSS: var(--errorLight)
    Stylus: errorMain         -  #EA3F3F, CSS: var(--errorMain)
    Stylus: errorDark         -  #D31F1F, CSS: var(--errorDark)
    Stylus: errorContrastText -  #FFF, CSS: var(--errorContrastText)
    Stylus: errorBackground   -  #FFF, CSS: var(--errorBackground)

    Styleguide Settings.theme.error
    */
    --errorLightest palette.Error['400']
    --errorLight palette.Error['500']
    --errorMain palette.Error['600']
    --errorDark palette.Error['700']
    --errorContrastText var(--commonWhite)
    --errorBackground var(--commonWhite)

    /*
    Warning colors

    Stylus: warningLight        -  #EFA82F, CSS: var(--warningLight)
    Stylus: warningMain         -  #CB8100, CSS: var(--warningMain)
    Stylus: warningDark         -  #986100, CSS: var(--warningDark)
    Stylus: warningContrastText -  #FFF, CSS: var(--warningContrastText)

    Styleguide Settings.theme.warning
    */
    --warningLight palette.Warning['500']
    --warningMain palette.Warning['600']
    --warningDark palette.Warning['700']
    --warningContrastText var(--commonWhite)

    /*
    Info colors

    Stylus: infoLight        -  #0EC4C7, CSS: var(--infoLight)
    Stylus: infoMain         -  #009FA2, CSS: var(--infoMain)
    Stylus: infoDark         -  #007578, CSS: var(--infoDark)
    Stylus: infoContrastText -  #FFF, CSS: var(--infoContrastText)

    Styleguide Settings.theme.info
    */
    --infoLight palette.Info['500']
    --infoMain palette.Info['600']
    --infoDark palette.Info['700']
    --infoContrastText var(--commonWhite)

    /*
    -----------------------------------------------------------------------
    */

    /*
    The CSS variables below are historic and we should strive not to
    use them. Prefer to use directly semantic colors above.
    */
    --spinnerColor var(--primaryMain)

    --linkColor var(--primaryMain)
    --linkTextDecoration none
    --linkColorActive var(--primaryDark)

    --invertedTabsActiveTextColor var(--primaryContrastText)
    --invertedTabsInactiveTextColor var(--primaryContrastText)
    --invertedTabsIndicatorColor var(--primaryContrastText)
    --invertedTabsBackgroundColor var(--primaryMain)

    --regularButtonPrimaryColor var(--primaryMain)
    --regularButtonSecondaryColor var(--primaryMain)
    --regularButtonActiveColor var(--primaryDark)
    --regularButtonConstrastColor var(--primaryContrastText)

    --secondaryButtonPrimaryColor #FFF
    --secondaryButtonSecondaryColor var(--silver)
    --secondaryButtonActiveColor var(--silver)
    --secondaryButtonContrastColor var(--black)

    --dividerColor2 var(--coolGrey)

    --iconColor currentColor
    --textIconColor var(--charcoalGrey)
    --actionMenuIconColor var(--slateGrey)

    --neutralBackground var(--paleGrey)

    --buttonTextTransform uppercase
    --buttonBorderRadius rem(2)

    --navTextColor var(--slateGrey)
    --navTextActiveColor var(--slateGrey)
    --navTextHoverColor var(--charcoalGrey)

    --alertErrorColor #fff
    --alertErrorBackgroundColor var(--errorMain)

    --alertSuccessColor #fff
    --alertSuccessBackgroundColor var(--successMain)

    --alertInfoColor #fff
    --alertInfoBackgroundColor var(--slateGrey)

    --primaryColor var(--primaryMain)
    --primaryColorDark var(--primaryDark)
    --primaryColorLight var(--primaryLight)
    --primaryColorLightest var(--primaryLightest)

    --secondaryColor var(--secondaryMain)
    --secondaryColorDark var(--secondaryDark)
    --secondaryColorLight var(--secondaryLight)
    --secondaryColorLightest var(--secondaryLightest)

    --primaryBackgroundLight var(--backgroundPrimaryLight)
    --defaultBackgroundColor var(--backgroundDefault)
    --paperBackgroundColor var(--backgroundPaper)

    --primaryTextColor var(--textPrimary)
    --secondaryTextColor var(--textSecondary)
    --primaryContrastTextColor var(--primaryContrastText)
    --secondaryContrastTextColor var(--secondaryContrastText)

    --dividerColor var(--divider)

    --successColor var(--successMain)
    --warningColor var(--warningMain)
    --errorColor var(--errorMain)
    --errorColorDark var(--errorDark)
    --errorColorLight var(--errorLight)
    --errorColorLightest var(--errorLightest)
    --infoColor var(--infoMain)

// @stylint on
