:root {
  --dodgerBlue: #cc0000;
  --scienceBlue: #ab0000;
  --primaryMain: #cc0000;
  --primaryLight: #fc4949;
  --primaryLightest: #fca2ab;
  --zircon: #fff5f6;
  --charcoalGrey: #000000;
  --primaryFont: 'Helvetica Neue', Helvetica, Arial, sans-serif ;
}
